build/
build-*/
cmake-build-*/
.cache/
.idea/
.vscode/
__pycache__/
*.pyc
*.pyo
*.o
*.a
*.so
*.png
*.pdf
*.svg
*.cube
*.dat
observables.csv
compile_commands.json
.DS_Store
_deps/
*.user
CMakeUserPresets.json
